<!-- filepath: c:\Users\mohid\todoproject\django-template\hello\templates\hello\about.html -->
{% extends 'hello/layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h1>About Personal Diary</h1>
    <p>Welcome to Personal Diary, your private space to log your daily thoughts and experiences. This Django application allows you to:</p>
    <ul>
        <li>Log your daily entries with timestamps.</li>
        <li>View your most recent entries on the home page.</li>
        <li>Keep track of your personal journey over time.</li>
    </ul>
    <p>We hope you enjoy using Personal Diary to document your life's moments!</p>
{% endblock %}